<script type="text/javascript">
    var config = {
        apiKey: "AIzaSyAlQxdGj5-UXJduqqnm5ymTIigx4c5c6E0",
        authDomain: "boxfight-9db65.firebaseapp.com",
        databaseURL: "https://boxfight-9db65.firebaseio.com",
        projectId: "boxfight-9db65",
        storageBucket: "boxfight-9db65.appspot.com",
        messagingSenderId: "380901492576"
    };

    firebase.initializeApp(config);


    var database = firebase.database();

    var connectionsRef = database.ref("/connections");
    var connectedRef = database.ref(".info/connected");
    var usersRef = database.ref("/users");
    var playersRef = database.ref("/players")

    var myRef = database.ref("/joined/" + myKey);

    var gameHasStarted = false;

    var iAmPlayer;
    var iHaveJoined = false;

    var beginRef = database.ref("/gamestart");
    beginRef.set({
        status: false
    });
    beginRef.onDisconnect().remove();

    var positionsRef = database.ref("/positions");

    var joinRef = database.ref("/joined");
    joinRef.onDisconnect().remove();

    var myKey = "foobar";
    var playerCount = 1;
    var bruh;

    connectedRef.on("value", function(snap) {

        // If they are connected..
        if (snap.val()) {
            // Add user to the connections list.
            var con = connectionsRef.push(true);

            myKey = con.key;
            console.log(myKey);
            // Remove user from the connection list when they disconnect.
            con.onDisconnect().remove();
        }
    });




    window.onload = function() {


        var game = new Phaser.Game(800, 600, Phaser.AUTO, '', {
            preload: preload,
            create: create,
            update: update
        });

        function preload() {

            game.load.image('sky', 'assets/sky.png');
            game.load.image('zombie', 'assets/zombie.png');
            game.load.image('ground', 'assets/platform.png');
            game.load.image('face', 'assets/face.png');
            game.load.image('diamond', 'assets/diamond.png');
            game.load.spritesheet('dude', 'assets/dude.png', 32, 48);
            game.load.image('boxer', 'assets/character.png');




        };

        var sprite;

        var cursors;



        function create() {
        	
            game.add.sprite(0, 0, 'sky');
            game.input.mouse.capture = true;

            cursors = this.input.keyboard.createCursorKeys();



            players = game.add.group();
            players.enableBody = true;


        };


        var count = 0;
        var designation = false;


        $("#joinButton").on("click", function() {

            joinRef.push({
                name: myKey
            });

            joinRef.on("value", function(snapshot) {

                if (designation === false) {

                    iHaveJoined = true;
                    var newPlayer = snapshot.val();
                    count = snapshot.numChildren();
                    console.log(count + " people joined");

                    iAmPlayer = count;
                    designation = true;
                    console.log("Hello! You are player " + count);
                } else if (designation === true) {

                    count = snapshot.numChildren();

                }



            });



            $("#joinButton").remove();


            $("#joinTest").html("<h6>Joined!</h6>");

        });

        $("#startButton").on("click", function() {

            console.log("game start!");
            beginRef.set({
                status: true
            });
        })


        beginRef.on("value", function(snap) {



            if (snap.val().status === true) {

                gameHasStarted = true;

                for (var i = 0; i < count; i++) {

                    var player = players.create(Math.floor((60 * i)), 0, 'boxer');
                    player.ID = (i + 1);
                    player.zombie = false;
                   // game.input.onDown.addOnce(alert("hello world!"));
                    game.physics.arcade.enable(player);
                    player.body.collideWorldBounds = true;
                    console.log(player);

                    $("#startButton").remove();
                    $("#joinButton").remove();


                }

            }

        });


       


           for (var i = 1; i < (100); i++) {
                	
                	database.ref("/users/" + i).on("value", function(snap) {

                		//console.log(snap.val().name + " position: " + snap.val().x + ", " + snap.val().y);

                		players.forEach(function(player) {

                		 		if (player.ID === snap.val().name) {

                		 			console.log("I am " + snap.val().name);
                		 			player.position.x = snap.val().x ; 
                		 			player.position.y = snap.val().y ;
                		 			player.zombie = snap.val().zombie;

                		 		}

                		});



                	});
                }
            

        function update() {

            connectionsRef.on("value", function(snap) {

                playerCount = snap.numChildren();

            });

            var myRef = database.ref("/joined/" + myKey);

            var myConnection = database.ref("/users/" + iAmPlayer);

            $("#conref").html("<h6>" + myKey + " and count:" + playerCount + "</h6>");

         //   game.physics.arcade.collide(players, players);

            game.physics.arcade.overlap(players, players, playerTouch, null, this);

            bruh = playerCount;

            


 
            players.forEach(function(sprite) {

                sprite.body.velocity.x = 0;
                sprite.body.velocity.y = 0;

              	if (sprite.ID === 1) {
                	if (game.input.activePointer.leftButton.isDown) {

                		sprite.zombie = true;

                	}
            	}

            	if (sprite.zombie) {

            		console.log(sprite);
                	sprite.loadTexture('zombie', 0, false);


            	}

                if (sprite.ID === iAmPlayer) {

                    var playerXY = {

                        name: sprite.ID,
                        x: sprite.position.x,
                        y: sprite.position.y,
                        zombie: sprite.zombie
                    }

                    myConnection.update(playerXY);


                    $("#zombieTest").html(sprite.zombie);


                    if (cursors.left.isDown) {
                        //  Move to the left
                        sprite.body.velocity.x = -350;

                    } else if (cursors.right.isDown) {

                        // Move right
                        sprite.body.velocity.x = 350;


                    }

                    if (cursors.up.isDown) {

                        sprite.body.velocity.y = -350;
                    } else if (cursors.down.isDown) {

                        sprite.body.velocity.y = 350;

                    }
                }

        

         

            }, this);

                  function playerTouch(p1, p2) {

              		//p1.tint = 0.5 * 0xffffff;


              		if (p1.zombie || p2.zombie) {
              			p1.zombie = true;
              			p2.zombie = true;
              		}


                }


        }



    }
</script>

<h6 id="conref"> Hello </h6>

<h6 id="joinTest"> </h6>

<h6> Am I a zombie? </h6>

<h5 id = "zombieTest"> false </h5>

<div id="buttonHolder">

    <button id="joinButton">Join</button>

    <button id="startButton">Start Game</button>

</div>